* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Figtree", sans-serif;
}

::-webkit-scrollbar {
  display: none;
  background-color: rgb(255, 255, 255);
  width: 0.5rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border: 1px solid slategrey;
  border-radius: 1rem;
}

/* Navbar */
.nav_bar_wrapper {
  position: sticky;
  top: 0;
  /* bottom: 0; */
  z-index: 1;
  background-color: #000000;
  min-width: 12rem;
  flex-grow: 0.1;
  padding: 1.5rem;
  /* From https://css.glass */

  /* background: rgba(18, 18, 18, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.1px);
  -webkit-backdrop-filter: blur(13.1px);
  border: 1px solid rgba(18, 18, 18, 0.2); */
}
.nav_bar_container {
  display: flex;
  flex-direction: column;
}

.nav_bar_section {
  display: flex;
  flex-direction: column;
}

/* spotify logo */
.spotify_logo > svg {
  width: 9rem;
}

.spotify_logo {
  margin-block-end: 1rem;
}

/* Nav links */

.nav_bar_link {
  margin-block: 0.8rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.nav_bar_icon {
  margin-inline-end: 0.4rem;
}

/* To toogle this using JS below class will be used */
.side_menu {
  height: inherit;
  display: block;
  position: absolute;
  z-index: 3;
}

hr {
  width: 50%;
  margin-block: 0.8rem;
  border: 0 dotted white;
  border-top-width: 0.2rem;
}

/*------------ Dynamic Content---------------------- */

#dynamic_content {
  background: linear-gradient(to bottom, #152643, #121212);
  /* background-color: #121212; */
  height: 100vh;
  overflow-y: auto;
  color: white;
}

.home_content {
  display: flex;
  justify-content: center;
}

/*----------- Sticky header------------------ */
.content_box {
  width: 100vw;
  background-color: #121212;
  position: relative;
}

.content_box_header {
  height: 4.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  color: white;
  background-color: #152643;
  background-blend-mode: color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Sticky header -- left section */

.left_section {
  display: flex;
  margin-inline-start: min(2rem, 10px);
  align-items: center;
}

.right_section {
  display: flex;
  margin-inline-end: 1.5rem;
}

.header_back_arrow,
.header_forward_arrow {
  width: 2rem;
  height: 2rem;
  margin: 0.7rem 1rem;

  background-color: rgb(8, 4, 19);
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.header_back_arrow > img {
  margin-left: 0.27rem;
  width: 1.3rem;
  object-fit: contain;
}

/* Sticky header -- right section */

.header_username_button {
  border: 0;
  outline: none;
  background: #080414;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 1.5rem;
}
.header_username_button > span {
  margin-inline: 0.8rem;
}

.userlogo_icon {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #535353;
}
.userlogo_icon > img {
  width: 1.7rem;
  object-fit: contain;
}

/* -----------------------Footer------------------------- */

.footer_wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #181818;
  color: white;
  z-index: 2;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem;
  align-items: center;
}

/* Footer -- Left Section */
.footer_section {
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}

.playing_song_details {
  display: flex;
  flex-direction: column;
}

.music_image {
  object-fit: contain;
  margin: 1rem;
}

.like_logo {
  width: 1.3rem;
  margin-inline: 1.5rem;
}

/* Footer -- Middle Section */
.footer_middle_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  min-width: fit-content;
}

.music_bar_details {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.music_progress_bar {
  background-color: green;
  min-width: 15rem;
  height: 0.3rem;
  border-radius: 1rem;
}

.music_player_control {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.music_player_controller_icon {
  object-fit: contain;
  margin-inline: 1rem;
}

.arrow {
  width: 2.2rem;
}

/* Footer -- Right Section */

.footer_right_section {
  min-width: fit-content;

  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  align-items: center;
}

.sound_bar {
  background-color: green;
  min-width: 8rem;
  height: 0.4rem;
  border-radius: 1rem;
}

.footer_right_section > .music_player_controller_icon {
  width: 2rem;
}

/* testing classes */

.gradient_extender {
  background: linear-gradient(to bottom, #152643, #121212);
}

/* ----------Input box for Search file--------------- */

.navigation-search {
  min-width: 192px;
  max-width: 20rem;
  display: flex;
  align-items: center;
  order: 2;
  justify-content: space-between;
  box-shadow: 0px 0px 5px -2px rgb(0 0 1);
  width: fit-content;
  margin: 0 20px;
  background-color: white;
  border: 0;
  border-radius: 2rem;
  outline: 0;
  height: min-content;
}

.navigation-search-input {
  outline: none;
  width: max(9.5rem, 25vw);
  height: 35px;
  border: 0;
  padding: 0 10px;
  background: transparent;
}

.navigation-search-icon {
  margin-inline: 0.45rem;
  margin-top: 0.2rem;
  /* padding: 3px 10px; */
}
.navigation-search-input::placeholder {
  font-size: 15px;
}

.search_icon_container {
  display: flex;
  align-items: center;
  margin-inline-start: 10px;
}
.search_icon {
  width: 35px;
  margin: 2px;
  object-fit: contain;
}

/* ------------Card's row styles------- */

.content_row_wrapper {
  width: 100%;
  color: #ffffff;
}

.content_row_container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.row_titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 1.8rem;
  align-items: center;
}

.row_cards {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  cursor: grab;
}

.card_container {
  display: flex;
  flex-direction: column;
  min-width: 9rem;
  padding: 1rem;
  border-radius: 0.55rem;
  /* border: 1rem solid #272727; */
  background-color: #171717;
  flex-grow: 1;
}

.card_container:hover {
  background-color: #272727;
}

.card_image {
  width: 100%;
  border-radius: 0.25rem;
  object-fit: contain;
}

.card_heading {
  margin-block: 1rem;
}

.list_name {
  font-size: 32px;
  font-weight: 700;
}

/* Used in Javascript to implement scroll by dragging  */
.grabbing {
  cursor: grabbing;
}

/* Header for smaller screen sizes */

.responsive_header {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  height: fit-content;
  color: white;
  padding: 0.5rem;
}

/* Hamburger -- Menu button */
.hamburger_container {
  width: 2.5rem;
  height: 2.5rem;
}

.hamburger_stick {
  margin-block: 0.5rem;
  width: 2.2rem;
  background-color: #ffffff;
  border-radius: 2px;

  display: block;
  position: absolute;
  height: 5px;
  /* width: 100%; */
  border-radius: 9px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.hamburger_container span:nth-child(1) {
  top: 5px;
  transform-origin: left center;
}

.hamburger_container span:nth-child(2) {
  top: 17px;
  transform-origin: left center;
}

.hamburger_container span:nth-child(3) {
  top: 29px;
  transform-origin: left center;
}

.hamburger_container.open span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger_container.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger_container.open span:nth-child(3) {
  transform: rotate(-45deg);
}

/* To toggle menu div */
.side_menu {
  height: inherit;
  display: block;
  position: absolute;
  z-index: 3;
}


/* -------------------------For screen sizes less than 875px-------------- */
@media screen and (max-width: 875px) {
  .nav_bar_wrapper,
  .footer_section,
  .footer_right_section {
    display: none;
  }

  .responsive_header {
    display: flex;
  }

  .side_menu {
    height: inherit;
    display: block;
    position: absolute;
    z-index: 3;
  }

  .footer_wrapper {
    display: flex;
    justify-content: center;
  }

  .nav_bar_wrapper {
    background: rgba(18, 18, 18, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.1px);
  -webkit-backdrop-filter: blur(13.1px);
  border: 1px solid rgba(18, 18, 18, 0.2);
  }
}
