/* .input-form-container {
    width: 50%;
} */

::-webkit-scrollbar {
    /* background-color: #eaddee; */
    width: 0.5rem;
    height: 0.4rem;
    cursor: grabbing;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #eaddee;
    /* border: 1px solid slategrey; */
    border-radius: 1rem;
    

  }
.navbar {
    background-color: #BA90C6;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #eaddee;
}
h2{
    text-align: center;
    color: white;
    font-weight: 600;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
   max-width: 300px;
        height: 463px;
        background-color: #BA90C6;
    /* padding: 30px; */
     border-radius: 3px;
    box-sizing: border-box;
    color: #FFF;
    margin:10px;
     box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.card:nth-child(){
   background: #4181ee;
}
.card-title{
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.read-more-span {
    display: inline-block;
    cursor: pointer;
}

.hide-read-more {
    display: none;
}

.card-content{
    width: 100%;
    max-height: 50px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    overflow-y: auto;
}

.wrap-content {
    white-space: nowrap;
}

.content-overflown {
    overflow: hidden;
    text-overflow: ellipsis;
    /* cursor: grab; */
}

.card-btn{
    all: unset;
    display: block;
    margin-left: auto;
    border: 2px solid #FFF;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
}
.card-btn:hover{
   color:#02b875;
   background: #FFF;
}
.card:nth-child(2) .card-btn:hover{
   color:#4181ee;
   background: #FFF;
}
.card:last-child .card-btn:hover{
   color:#673ab7;
    background: #FFF;
}

.card-image-wrapper{
    width: 298px;
    height: 200px;
}

.card-image-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-style-pink {
    color: white;
    background-color: #E8A0BF;
}

.btn-style-pink:hover {
    color: whitesmoke;
    background-color: #e697b9;
}

.hide-button {
    display: none;
}

.empty-cart-msg > h2 {
    color: #BA90C6;
}

.add-product-form {
    width: min(90%, 658px);
}

.img-preview {
    width: 150px;
}

.img-custom-css{
    object-fit: contain;
}



.id-error {
    animation: shake 300ms;
    color: rgb(255, 35, 35);
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }
    50% {
        transform: translateX(-4px);
    }
    75% {
        transform: translateX(4px);
    }
}

.full-name-logo {
    display: inline-block;
}

.short-name-logo {
    display: none;
}

@media screen and (max-width: 454px) {
    .short-name-logo{
        display: inline-block;
    }

    .full-name-logo {
        display: none;
    }
}